* { box-sizing: border-box; }

a {
	text-decoration: none;
	color: #000000;
	transition: opacity 200ms;

	&:hover {
		opacity: 0.5;
	}
}

body {
	background-color: #F4F1ED;
	margin: 0; padding: 0;
	font-family: 'Hind Siliguri', sans-serif;
	padding: 0 16px;
}

.container {
	max-width: 1024px;
	margin: auto;
}

header {
	height: 72px;
	align-items: center;
	position: fixed;
	top: 0;
	max-width: 1056px;
	padding: 0 16px;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	// background-color: #F4F1ED;
	grid-template-columns: repeat(3, 1fr);
	// grid-template-columns: repeat(2, 1fr);
	display: grid;
	z-index: 10;
	// border: 1px solid black;

	@media only screen and (max-width: 960px) {
		grid-template-columns: 1fr;
	}

	.item {
		a {
			font-size: 12px;
			line-height: 24px;
			letter-spacing: 2px;
			font-weight: 700;
			text-transform: uppercase;
		}

		&.blog {
			@media only screen and (max-width: 960px) {
				display: none;
			}
		}

		&.logo {
			text-align: center;

			a { 
				display: flex;

				@media only screen and (max-width: 720px) {
					height: 72px;
					max-width: max-content;
					margin: auto;
				}
			}

			img { 
				// width: 10vw; 
				width: 148px; 
				height: 72px;
				margin: auto;
			}
		}

		&.contact { 
			text-align: right; 

			@media only screen and (max-width: 960px) {
				display: none;
			}
		}
	}

	&.homepage {
		// .item.logo img { 
		// 	display: none;

		// 	@media (max-width: 960px) { display: block; }
		// }

		.item.logo img { 
			display: none;

			@media (max-width: 960px) { display: block; }

			&.visible { display: block; }
		}
	}
}

.solid-bg {
	background-color: #F4F1ED;
	height: 72px;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
}

.hamburger {
	display: none;
	width: 20px;
	height: 10px;
	position: absolute;
	right: 16px;
  cursor: pointer;
  z-index: 10;
  // transition: 500ms ease;

  @media (max-width: 960px) { display: block; }

  span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000000;
    position: absolute;
    transition: all 500ms ease;

    &:nth-child(1) {
      top: 0; left: 50%;
      transform: translate(-50%,0);
    }

    &:nth-child(2)  {
      bottom: 0; left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &.active {
    span:nth-child(1) {
      top: 50%;
      transform: translate(-50%,-50%) rotate(45deg);
    }
    span:nth-child(2) {
      bottom: 50%;
      transform: translate(-50%,50%) rotate(-45deg);
    }
  }
}

nav {
	display: none;
	position: absolute;
	top: 0; right: -100%;
	width: 100%;
	background-color: #F3F1ED;
	height: 100vh;
	text-align: center;
	align-items: center;
	justify-content: center;
	transition: right 500ms;

	@media (max-width: 960px) { display: flex; }

	&.active { right: 0; }

	a {
		font-size: 12px;
		line-height: 24px;
		letter-spacing: 2px;
		font-weight: 700;
		text-transform: uppercase;
		display: block;
	}
}

.gradient {
	height: 128px;
	width: 100%;
	position: fixed;
	top: 72px;
	left: 0;
	background: rgb(244,241,237);
	background: linear-gradient(180deg, rgba(244,241,237,1) 0%, rgba(255,255,255,0) 100%);

	@media (max-width: 960px) { height: 64px; }
}

.introduction {
	max-width: 240px;
	width: 100%;
	position: fixed;
	left: 30%;
	top: 65%;

	@media (max-width: 768px) {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	p {
		margin: 0; padding: 0;
		font-size: 12px;
		line-height: 24px;
		letter-spacing: 1px;
		color: #000000;
		font-weight: 600;
	}
}

.gallery { 
	// position: fixed;
	position: absolute;
	// top: 0;
	z-index: -10;
	max-width: 1056px;
	padding: 0 16px;
	left: 50%;
	width: 100%;
	margin: 120px 0 100px;
	transform: translateX(-50%);

	// @media (max-width: 1056px) { 
	// 	padding: 0 16px; 
	// }

	@media (max-width: 640px) { 
		margin-top: 100px;
	}
}

.row {
	display: grid;

	&:nth-of-type(1) { margin-top: 0px; }

	// @media (max-width: 640px) { display: block; }

	&:nth-of-type(3) { direction: rtl; }
	&:nth-of-type(4) { direction: rtl; }
	&:nth-of-type(7) { direction: rtl; }
	&:nth-of-type(8) { direction: rtl; }
	&:nth-of-type(11) { direction: rtl; }
	&:nth-of-type(12) { direction: rtl; }
	&:nth-of-type(15) { direction: rtl; }
	&:nth-of-type(16) { direction: rtl; }
}

.primary {
	grid-template-columns: repeat(8, 1fr);
	margin-top: 80px;

	// @media (max-width: 768px) { grid-template-columns: unset; }

	.item {
		img { 
			width: 100%; 
			display: block;
			transition: 200ms;

			// @media (max-width: 768px) { width: 80%; }
		}

		&.large {
			grid-column-start: 1;
			grid-column-end: 4;

			@media (max-width: 640px) { grid-column: 1 / 7; }
		}

		&.medium {
			grid-column-start: 6;
			grid-column-end: 8;

			@media (max-width: 960px) {
				grid-column-start: 5;
				grid-column-end: 8; 
			}

			@media (max-width: 640px) { grid-column: 3 / -1; }
		
			img { margin: 80px 0; }
		}

		&.small {
			grid-column-start: 5;
			grid-column-end: 7;

			@media (max-width: 640px) { grid-column: 1 / 7; }
			
			img { 
				margin-top: -120px; 

				@media (max-width: 768px) {
					margin-top: 0px; 
				}
			}
		}
	}
}

.secondary {
	grid-template-columns: repeat(8, 1fr);

	// @media (max-width: 768px) { grid-template-columns: 1fr; }

	.item {
		img { 
			width: 100%; 
			display: block;
		}

		&.large {
			grid-column-start: 3;
			grid-column-end: 6;

			@media (max-width: 640px) { grid-column: 3 / -1; }

			img {
				@media (max-width: 640px) { margin-top: 80px; }
			}
		}

		&.medium {
			grid-column-start: 7;
			grid-column-end: -1;

			@media (max-width: 640px) { grid-column: 1 / 7; }
			
			img { margin-top: 80px; }
		}
	}
}

.contact--content {
	min-height: calc(100vh - 144px);
	margin-top: 72px;
	display: flex;
	align-items: center;
	justify-content: center;

	.contact--details {
		text-align: center;

		p {
			margin: 0; padding: 0;
			font-size: 24px;
			line-height: 40px;
			letter-spacing: 2px;
			color: #000000;
			font-weight: 600;
		}
	}

	.contact--image {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%);
		z-index: -1;

		img {
			max-width: 310px;
	    width: 100%;
	    display: block;
		}
	}
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 72px;

	img {
		width: 12px;
		margin: 0 20px;
	}
}

.overlay {
	width: 100%;
	height: 100vh;
	background-color: #F4F1ED;
	position: absolute;
	top: 0; left: 0;
}

.articles {
	display: grid;
	// grid-template-columns: repeat(2, minmax(448px, 1fr));
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 0;
	grid-gap: 64px;
	margin: 200px auto 100px;
	max-width: 1024px;

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
		margin-top: 100px;
	}

	.article {
		&:nth-of-type(2) { 
			.masonry-content {
				padding-top: 80px;

				@media (max-width: 768px) { padding-top: 0; }
			}
		}

		img {
			width: 100%;
			display: block;
			height: auto;
		}

		.meta {
			margin-top: 40px;
			display: flex;
			justify-content: space-between;

			@media (max-width: 960px) { margin-top: 24px; }

			label, a {
				margin: 0; padding: 0;
				font-size: 15px;
				line-height: 24px;
				letter-spacing: 1px;
				color: #000000;
				font-weight: 600;
				display: block;
				text-transform: uppercase;
			}

			label {
				display: block;
				color: #E8642E;
			}
		}

		&:nth-of-type(odd) {
			.meta {
				margin-left: auto;
				text-align: right;
			}
		}
	}
}

.blog {
	.wpr {
		max-width: 500px;
		margin: 200px auto 100px;

		@media (max-width: 960px) { margin-top: 100px; }

		> a {
			display: block;
			color: #E8642E;
			font-size: 15px;
			line-height: 24px;
			letter-spacing: 1px;
			font-weight: 600;
			text-transform: uppercase;
			margin-top: 56px;
		}
	}

	h1 {
		font-size: 24px;
		line-height: 24px;
		letter-spacing: 1px;
		color: #000000;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 56px;
	}

	h2 {
		font-size: 15px;
		line-height: 24px;
		letter-spacing: 1px;
		color: #000000;
		font-weight: 600;
		text-transform: uppercase;
		margin: 24px 0;
	}

	p {
		font-size: 15px;
		line-height: 24px;
		letter-spacing: 0px;
		color: #000000;
		font-weight: 400;
		margin: 24px 0;
	}

	img {
		width: 100%;
		display: block;
		margin: 24px 0;
		height: auto;
	}
}

.splash {
	position: relative;
	margin-bottom: 100vh;
	// border: 1px solid black;

	.fixed-bg {
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0; left: 0;

		.logo {
			position: absolute;
			left: 50%;
			top: 25%;
			transform: translate(-50%, -50%);
			margin: auto;
			height: 72px;
			align-items: center;
			display: flex;
			// border: 1px solid blue;

			@media (max-width: 960px) { display: none; }

			&.fixed {

			}

			img {
				display: block;
				// width: 50vw;
				width: 720px;
				// width: 100%;

				// @media (max-width: 960px) { width: 320px; }
			}

		}
	}

	&.fixed .fixed-bg {
		position: fixed;
	}

	&.unfixed .fixed-bg {
		position: absolute;
		top: auto;
		bottom: 0px;
	}

	.scroll-bg {
		min-height: 100vh;
		padding-bottom: 100vh;
		// overflow: visible;
		// position: relative;
		// z-index: -1;
	}
}
